/* GENERAL */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #000;
    color: white;
}

/* HERO SECTION */
.hero {
    background: url('https://images.unsplash.com/photo-1520974735194-6c07ae0f35a4') center/cover no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

.hero h1 {
    font-size: 60px;
    z-index: 10;
    font-weight: 700;
    color: #f5d27a;
}

.hero p {
    font-size: 20px;
    z-index: 10;
    margin-bottom: 20px;
}

.btn {
    z-index: 10;
    padding: 12px 25px;
    background: #f5d27a;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
}

.btn:hover {
    background: #ffe7a4;
}

/* PRODUCTS */
.products-section {
    padding: 50px 20px;
    text-align: center;
}

.products-section h2 {
    font-size: 35px;
    margin-bottom: 30px;
    color: #f5d27a;
}

.products {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: #111;
    border: 1px solid #333;
    width: 280px;
    border-radius: 10px;
    padding-bottom: 20px;
    transition: transform 0.3s;
}

.card img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.card h3 {
    margin: 15px 0 5px;
    color: #f5d27a;
}

.card:hover {
    transform: scale(1.05);
}

/* FOOTER */
footer {
    padding: 20px;
    background: #111;
    text-align: center;
    border-top: 1px solid #333;
}
